/*
  Minimal PicoCSS theme for blog readability
  https://picocss.com/
*/
@import url('https://unpkg.com/@picocss/pico@latest/css/pico.min.css');


body {
  max-width: 1100px;
  width: 95vw;
  margin: 0rem auto;
  padding: 1rem;
}

main, header, footer {
  margin: 0 !important;
  padding: 0 !important;
}

h1, h2, h3 {
  margin-top: 2rem;
}

footer {
  font-size: 0.9em;
  color: #666;
  padding-top: 1rem;
}
